{% extends 'base.html' %}

{% block content %}
    <div class="container mt-4">
        <h1>Список задач</h1>
        {% if user.is_authenticated %}
            <a href="{% url 'front:task_create' %}" class="btn btn-primary mb-3">Создать задачу</a>
        {% endif %}
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Заголовок</th>
                <th>Дата создания</th>
                {% if user.is_authenticated %}
                    <th>Действия</th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
            {% for task in tasks %}
                <tr>
                    <td><a href="{% url 'front:task_detail' task.pk %}">{{ task.title }}</a></td>
                    <td>{{ task.creation_time }}</td>
                    {% if user.is_authenticated %}
                        <td>
                            <a href="{% url 'front:task_update' task.pk %}" class="btn btn-sm btn-outline-primary">Редактировать</a>
                            <a href="{% url 'front:task_delete' task.pk %}"
                               class="btn btn-sm btn-outline-danger">Удалить</a>
                        </td>
                    {% endif %}
                </tr>
            {% empty %}
                <tr>
                    <td colspan="3" class="text-center">Нет задач</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
